.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* ------------------- */
  
  .formContainer {
    width: 1150px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .formContainer1 {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line if needed */
    justify-content: center; /* Center the items horizontally */
    width: 1100px;
    margin: 10px; /* Adjust margin for spacing between items */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer2 {
   
    width: 300px;
    margin: 10px; /* Adjust margin for spacing between items */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }